<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/form.css" rel = "stylesheet"/>
    <title>Employee Management</title>
</head>
<body>
<h2>Add Employee</h2>
<form th:action="@{/submitEmployee}" th:object="${newEmployee}" method="post" enctype="multipart/form-data">
    <label for="photo">Photo:</label>
    <input type="file" id="photo" accept="image/*" th:field="*{photo}"><br>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" required><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" required><br>

    <label for="birthDate">Birth Date:</label>
    <input type="date" id="birthDate" th:field="*{birthDate}" required><br>
    <th:block th:if="${newEmployee.id != null}">
        <button type="submit">Modify</button>
    </th:block>
    <th:block th:unless="${newEmployee.id != null}">
        <button type="submit">Add</button>
    </th:block>
</form>


    </tbody>
</table>
</body>
</html>