<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="/css/styles.css" rel="stylesheet"/>
    <title>Employee Management</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Create New Employee</h1>
<div class="container mt-5">
    <form th:action="@{/addEmployee}" method="post" enctype="multipart/form-data" class="employeeForm">
        <label class="col-sm-2 col-form-label">First Name:</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="firstName" required/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Last Name:</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="lastName" required/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Birth Date:</label>
        <div class="col-sm-10"><input type="date" class="form-control" name="birthDate"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Photo:</label>
        <div class="col-sm-10"><input type="file" class="form-control" name="photo"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Gender:</label>
        <select class="form-control" name="gender">
            <option th:each="gender: ${genders}"
                    th:value="${gender}" th:text="${gender}"></option>
        </select><br/>


        <label class="col-sm-2 col-form-label">Number of Children:</label>
        <div class="col-sm-10"><input type="number" class="form-control" name="numberOfChildren" value="0" min="0"/>
        </div>
        <br/>

        <label class="col-sm-2 col-form-label">Phones:</label>
        <div id="phones">
        </div>
        <button type="button" onclick="addPhone()">Add Phone</button>
        <br/>
        <label class="col-sm-2 col-form-label">Address:</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="address"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Personal Email:</label>
        <div class="col-sm-10"><input type="email" class="form-control" name="personalEmail"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Professional Email:</label>
        <div class="col-sm-10"><input type="email" class="form-control" name="professionalEmail"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">CIN Number:</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="cinNumber"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">CIN Issue Date:</label>
        <div class="col-sm-10"><input type="date" class="form-control" name="cinIssueDate"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">CIN Issue Place:</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="cinIssuePlace"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Function:</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="function"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Hiring Date:</label>
        <div class="col-sm-10"><input type="date" class="form-control" name="hiringDate"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Departure Date:</label>
        <div class="col-sm-10"><input type="date" class="form-control" name="departureDate"/></div>
        <br/>

        <label class="col-sm-2 col-form-label">Socio-Professional Category:</label>
        <select name="socioProfessionalCategory">
            <option th:each="category : ${categories}"
                    th:value="${category}" th:text="${category}"></option>
        </select><br/>


        <div class="col-sm-10"><input type="submit" value="Create" class="submitButton"/></div>
    </form>
</div>
<!--<div th:insert="~{fragments/footer :: footer}"></div>-->
<script>
    function addPhoneInput(countryCodeValue, phoneValue) {
        const phoneInput = document.createElement("input");
        phoneInput.type = "text";
        phoneInput.name = "phones";
        phoneInput.value = phoneValue;
        phoneInput.placeholder = "Number";

        const countryCodeInput = document.createElement("input");
        countryCodeInput.type = "text";
        countryCodeInput.name = "countryCodes";
        countryCodeInput.value = countryCodeValue;
        countryCodeInput.placeholder = "Country Code";

        const phoneDiv = document.createElement("div");
        phoneDiv.appendChild(countryCodeInput);
        phoneDiv.appendChild(phoneInput);

        // Check if there is more than one phone input to decide whether to add the delete button
        if (document.getElementsByName("phones").length > 0) {
            const deleteButton = document.createElement("button");
            deleteButton.type = "button";
            deleteButton.innerHTML = "Delete";
            deleteButton.onclick = function () {
                deletePhone(phoneDiv);
            };
            phoneDiv.appendChild(deleteButton);
        }

        phoneDiv.appendChild(document.createElement("br"));
        const phonesDiv = document.getElementById("phones");
        phonesDiv.appendChild(phoneDiv);
    }

    function addPhone() {
        addPhoneInput("", "");
    }

    function deletePhone(phoneDiv) {
        const phonesDiv = document.getElementById("phones");
        phonesDiv.removeChild(phoneDiv);
    }

    // On page load, set phones to be an empty list if no phone numbers are provided
    window.onload = function () {
        const phonesInput = document.getElementsByName("phones");
        const countryCodesInput = document.getElementsByName("countryCodes");
        if (phonesInput.length === 0) {
            addPhone();
        } else {
            for (let i = 0; i < phonesInput.length; i++) {
                addPhoneInput(countryCodesInput[i].value, phonesInput[i].value);
            }
        }
    };

    // Before form submission, update the actual input fields with the phone values
    document.getElementById("employeeForm").addEventListener("submit", function () {
        const phonesInput = document.getElementsByName("phones");
        const countryCodesInput = document.getElementsByName("countryCodes");

        const combinedPhoneValues = [];

        for (let i = 0; i < phonesInput.length; i++) {
            const combinedValue = countryCodesInput[i].value + "," + phonesInput[i].value;
            combinedPhoneValues.push(combinedValue);
        }

        const combinedPhonesInput = document.createElement("input");
        combinedPhonesInput.type = "hidden";
        combinedPhonesInput.name = "combinedPhones";
        combinedPhonesInput.value = combinedPhoneValues.join(";");

        this.appendChild(combinedPhonesInput);
    });
</script>

</body>
</html>




