<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee details</title>
</head>
<body>
    <h2>Employee details</h2>
    <img th:src="'data:image/png;base64,' + ${employee.photo}" alt="Aucune image">
    <p>First Name: <span th:text="${employee.firstName}"></span></p>
    <p>Last Name: <span th:text="${employee.lastName}"></span></p>
    <p>Birth Date: <span th:text="${employee.birthDate}"></span></p>
    <p>Registration Number: <span th:text="${employee.registrationNo}"></span></p>

<div></div>
</body>
</html>