<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href = "css/form.css" rel = "stylesheet"/>
    <title>Employee Management</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h2>Update Employee</h2>

<form th:action="@{/modifyEmployee}" method="post" enctype="multipart/form-data">
    <th:block th:if="${photoString!=null && photoString.length()>0}">
        <img th:src="'data:image/png;base64,' + ${photoString}" alt="Photo"> <br>
    </th:block>
    <th:block th:unless="${photoString!=null && photoString.length()>0}"> <br>
        <h4>Aucun Image</h4>
    </th:block>
    <input type="hidden" name="employeeId" th:value="*{employeeId}">
    <input type="hidden" name="id" th:value="*{employeeId}">
    <input type="hidden" name="photoString" th:value="*{photoString}">
    <input type="hidden" name="regNo" th:value="*{regNo}">
    <label for="firstName">First Name:</label>
    <input type="text" th:value="${firstName}" id="firstName" name="firstName"/> <br>
    <label for="lastName">Last Name:</label>
    <input type="text" th:value="${lastName}" id="lastName" name="lastName"/> <br>
    <label for="birthDate">Birth date:</label>
    <input type="date" th:value="${birthDate}" id="birthDate" name="birthDate"/> <br>
    <label>Gender:</label>
    <select name="gender">
        <option th:each="g: ${genders}"
                th:selected="${g==gender}"
                th:value="${g}" th:text="${g}"></option>
    </select><br/>

    <label for="photo">Photo:</label>
    <input type="file" id="photo" accept="image/*" name="photo"><br>
    <th:block th:if="${employeeId != null}">
        <button type="submit">Modify</button>
    </th:block>
    <th:block th:unless="${employeeId != null}">
        <button type="submit">Add</button>
    </th:block>
</form>


    </tbody>
</table>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>