<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="/css/styles.css" rel="stylesheet"/>
  <title>Employee Management</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Modify Employee</h1>

<form th:action="@{/modifyEmployee}" method="post" enctype="multipart/form-data" class="employeeForm">
  <input type="hidden" name="id" th:value="${employee.id}" />
  <input type="hidden" name="photoString" th:value="${employee.photo}">
  <img id="currentImage" th:src="'data:image/png;base64,' + ${employee.photo}" alt="Photo" th:if="${employee.photo!=null && employee.photo.length()>0}" width="300" /><br/>
  <img id="selectedImage" src="#" alt="Selected Image" width="300"  style="display: none;" /><br/>

  <label class="labelForm">First Name:</label>
  <input type="text" name="firstName" th:value="${employee.firstName}" required /><br/>

  <label class="labelForm">Last Name:</label>
  <input type="text" name="lastName" th:value="${employee.lastName}" required /><br/>

  <label class="labelForm">Birth Date:</label>
  <input type="date" name="birthDate" th:value="${employee.birthDate}" /><br/>

  <label class="labelForm">Photo:</label>
  <input type="file" name="photo" id="photoInput" onchange="showSelectedImage(event)" /><br/>

  <label class="labelForm">Gender:</label>
  <select name="gender">
    <option th:each="gender: ${genders}"
            th:value="${gender}" th:text="${gender}" th:selected="${gender == employee.gender}"></option>
  </select><br/>

  <label class="labelForm">Number of Children:</label>
  <input type="number" name="numberOfChildren" th:value="${employee.numberOfChildren}" min="0"/><br/>

  <label class="labelForm">Phones:</label>



  <input type="hidden" th:each="existingNumber : ${employee.phones}" name="existingNumbers" th:value="${existingNumber}" />

  <div id="phones">
  </div>
  <button type="button" onclick="addPhone()">Add Phone</button><br/>

  <label class="labelForm">Address:</label>
  <input type="text" name="address" th:value="${employee.address}" /><br/>

  <label class="labelForm">Personal Email:</label>
  <input type="email" name="personalEmail" th:value="${employee.personalEmail}" /><br/>

  <label class="labelForm">Professional Email:</label>
  <input type="email" name="professionalEmail" th:value="${employee.professionalEmail}" /><br/>

  <label class="labelForm">CIN Number:</label>
  <input type="text" name="cinNumber" th:value="${employee.cinNumber}" /><br/>

  <label class="labelForm">CIN Issue Date:</label>
  <input type="date" name="cinIssueDate" th:value="${employee.cinIssueDate}" /><br/>

  <label class="labelForm">CIN Issue Place:</label>
  <input type="text" name="cinIssuePlace" th:value="${employee.cinIssuePlace}" /><br/>

  <label class="labelForm">Function:</label>
  <input type="text" name="function" th:value="${employee.function}" /><br/>

  <label class="labelForm">Hiring Date:</label>
  <input type="date" name="hiringDate" th:value="${employee.hiringDate}" /><br/>

  <label class="labelForm">Departure Date:</label>
  <input type="date" name="departureDate" th:value="${employee.departureDate}" /><br/>

  <label class="labelForm">Socio-Professional Category:</label>
  <select name="socioProfessionalCategory">
    <option th:each="category : ${categories}"
            th:value="${category}" th:text="${category}" th:selected="${category == employee.socioProfessionalCategory}"></option>
  </select><br/>

  <label class="labelForm">CNAPS Number:</label>
  <input type="text" name="cnapsNumber" th:value="${employee.cnapsNumber}" /><br/>

  <input type="submit" value="Save" class="submitButton" />
</form>
<div th:insert="fragments/footer :: footer"></div>
<script>
  function addPhoneInput(countryCodeValue, phoneValue) {
    const countryCodeInput = document.createElement("input");
    countryCodeInput.type = "text";
    countryCodeInput.name = "countryCodes";
    countryCodeInput.value = countryCodeValue;
    countryCodeInput.placeholder = "Country Code";

    const phoneInput = document.createElement("input");
    phoneInput.type = "text";
    phoneInput.name = "phones";
    phoneInput.value = phoneValue;

    const phoneDiv = document.createElement("div");
    phoneDiv.appendChild(countryCodeInput);
    phoneDiv.appendChild(phoneInput);

    // Check if there is more than one phone input to decide whether to add the delete button
    if (document.getElementsByName("phones").length > 0) {
      const deleteButton = document.createElement("button");
      deleteButton.type = "button";
      deleteButton.innerHTML = "Delete";
      deleteButton.onclick = function() {
        deletePhone(phoneDiv);
      };
      phoneDiv.appendChild(deleteButton);
    }

    phoneDiv.appendChild(document.createElement("br"));
    const phonesDiv = document.getElementById("phones");
    phonesDiv.appendChild(phoneDiv);
  }

  function addPhone() {
    addPhoneInput("", "");
  }

  function deletePhone(phoneDiv) {
    const phonesDiv = document.getElementById("phones");
    phonesDiv.removeChild(phoneDiv);
  }

  function deleteExistingNumber(button) {
    const numberDiv = button.parentElement;
    const existingPhonesDiv = document.getElementById("existingPhones");
    existingPhonesDiv.removeChild(numberDiv.parentElement);
  }

  window.onload = function() {
    // Populate existing phone numbers
    const existingNumbersInput = document.getElementsByName("existingNumbers");
    for (let i = 0; i < existingNumbersInput.length; i++) {
      const existingNumber = existingNumbersInput[i].value;
      const countryCode = existingNumber.split(',')[0];
      const phoneNumber = existingNumber.split(',')[1];
      addPhoneInput(countryCode, phoneNumber);
    }
  };

  document.getElementById("employeeForm").addEventListener("submit", function() {
    // Update the actual input fields with the phone values
    const phonesInput = document.getElementsByName("phones");
    const countryCodesInput = document.getElementsByName("countryCodes");
    const combinedPhoneValues = [];

    for (let i = 0; i < phonesInput.length; i++) {
      const combinedValue = countryCodesInput[i].value + "," + phonesInput[i].value;
      combinedPhoneValues.push(combinedValue);
    }

    const combinedPhonesInput = document.createElement("input");
    combinedPhonesInput.type = "hidden";
    combinedPhonesInput.name = "combinedPhones";
    combinedPhonesInput.value = combinedPhoneValues.join(";");

    this.appendChild(combinedPhonesInput);
  });

</script>

</body>
</html>
